setuptools; python_version >= "3.12"

# Core Data Science & Notebooks
ipython>=8.10
jupyterlab>=3.0
notebook
tqdm
matplotlib
scikit-learn~=1.5.1
python-dotenv
diffusers
transformers
accelerate

# Code Quality
flake8
black

# Torch & Tensorboard
# --index-url https://download.pytorch.org/whl/cu126 # For CUDA 12.6 > RTX 4060 Mobile
torch
torchvision
torchaudio
lightning
tensorboard

# GPU Support for Test_Ethan.ipynb
peft
bitsandbytes
datasets
ftfy
gradio