setuptools; python_version >= "3.12"

# Core Data Science & Notebooks
ipython>=8.10
jupyterlab>=3.0
notebook
tqdm
matplotlib
scikit-learn~=1.5.1
python-dotenv
diffusers
transformers
accelerate

# Code Quality
flake8
black

# Torch & Tensorboard
torch
torchvision
torchaudio
lightning
tensorboard
